body{
    background-color: white !important;
}
.main-content-container{
    margin-top: 20px;
}

/**---------------------- HOME -------------------**/

#hero .col-md-4 , .col-md-8 {
    padding: 0;
    margin: 0;
}

.ss1-container-bn {
    position: relative;
    margin: 0px 5px 10px 5px ;
}
.ss1-container-bn .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
  }

.section2  .row , .col-md-8 , .col-md-4, .col-md-6 {
    margin: 0;
    padding: 0;
}

.topicName{
    border-bottom: 2.5px solid black;
}
.topicName h5 {
    margin-bottom: 0;
}
.fstpart-col2{
    padding: 10px;
}

.ss1-container-bn h3{
    color: white;
}

.tag{
    position: absolute;
    margin: -465px 0px 0px 5px;
    padding: 0px 5px;
    background-color: rgba(248, 248, 248, 0.726);
    border-radius: 5px;
}

.category{
    color: white;
    background-color: rgba(12, 48, 78, 0.733);
    padding: 0px 5px;
    border-radius: 5px;
}

.view, .like{
    text-align: right;
}
/********************** LOGIN REGISTER PAGE **************************/

.bg-form{
    position: relative;
    max-width: 100%; /* Maximum width */
    margin: 0 auto; /* Center it */
}
.form-lg-rgt{
    position: absolute;
    right: 0;
    top: 40px;
    margin: 20px;
    min-width: 600px;
    padding: 16px;
    background-color: rgba(109, 101, 91, 0.55);
    border-radius: 1rem;
}

.lg-rgt-form{
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);

}

/*************************/
.vote-article{
    margin-top: 200px;
}