@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.fontANW{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 1.3em;
}
.font-roboto{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}
.fontIcon{
    font-family: 'Open Sans';
    line-height: 1.85;
}
/********************* Frame Post *****************/
.ss1-container-bn {
    position: relative;
    margin: 0px 5px 10px 5px ;
}
.ss1-container-bn .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
  }
.frameInforBasic {
    margin: 30px 0  !important;
}
.delete-edit{
    display: none;
}
.frameInforBasic:hover .delete-edit{
    display: block;
}
.framepost-type2{
    padding: 30px 10px 0;
}
.framepost-type4{
    padding: 10px;
}
.section2 .col-md-8 , .col-md-4, .col-md-6 {
    margin: 0;
    padding: 0;
}
.sumtp1 {
    padding: 0 15px;
}

.description{
    width: 100%; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    line-height: 1.85;
    font-family: 'Open Sans';
  }


/******* NAME TAG *********/
.wrap-nametag{
    padding: auto 0 !important;
}
.tagn{
    margin: 0 !important;
}
@media screen and (max-width: 800px){
.description{
    display: none;
}
}